@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.layout {
    min-height: 1500px;
    height: 100%;
}

.login-form {
    margin-top: 13%;
    margin-left: 33%;
    max-width: 500px;
    width: 33%;
    height: 33%;
    position: absolute;
}

.login-form-title {
    text-align: center;
    font-size: x-large;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
    /*text-align: center;*/
    /*overflow:hidden;*/
}

.create-board-form {
    margin-top: 3%;
    margin-left: 3%;
    max-width: 500px;
    width: 33%;
    height: 33%;
    position: absolute;
}
.board-menu{
    float: right;
    /*margin-top: 100px;*/
}
.board-body{
    /*float: right;*/
    margin-top: 2%;
}